$Primary: #2f80ed;
$Gray1: #333333;
$Gray2: #4f4f4f;
$Gray3: #828282;
$Gray4: #bdbdbd;
$Gray5: #e0e0e0;
$Green1: #219653;

.img-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.thullo-logo__sm {
  display: none;
}

.btn {
  padding: 7px 19px 8px 21px;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.035em;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  &-primary {
    background: $Primary;
    color: white;
  }
  &-gray {
    background: #f2f2f2;
    color: $Gray3;
  }
  &-green {
    background: $Green1;
    color: white;
  }
  &-white {
    background: white;
    color: $Gray3;
    border: 1px solid $Gray4;
  }
  &-not-active {
    color: $Gray4;
    background: none;
    border: none;
    cursor: initial;
  }
  &-danger {
    background: white;
    border: 1px solid #eb5757;
    color: #eb5757;
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  z-index: 20;
  .modal-body {
    background: white;
    padding: 11px 24px 17px 24px;
    z-index: 99;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .modal-button-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .modal-cancel {
      background: transparent;
      font-size: 10px;
      line-height: 15px;
      color: $Gray3;
      margin-right: 17px;
    }
  }
}

.card {
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  .card-body {
    padding: 12px;
  }
}

input.form-control {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 10px;
  line-height: 15px;
  outline: 1px solid #e0e0e0;
  width: 100%;
  color: $Gray4;
}

.btn_svg__flex {
  padding: 7px 16px;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    margin-right: 13px;
  }
}

.btn-icon__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
}

.all-board-members_card {
  display: flex;
  align-items: center;
  .board-member__img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    img {
      border-radius: 25%;
    }
  }
}

.add-another__span {
  width: 100%;
  padding: 0px 12px;
  background: #dae4fd;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  color: #2f80ed;
  height: 32px;
}

.mini-pop-modal {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  p,
  span {
    margin-bottom: 1.5px;
  }
  &-body {
    padding: 9px 12px;
    font-size: 12px;
    line-height: 16px;
    color: $Gray3;
    .mini-pop-bolder {
      line-height: 18px;
      font-weight: 600;
      color: $Gray2;
    }
  }
}

.header-search {
  width: 338px;
  height: 34px;
  border-radius: 8px;
  border: transparent;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 13.12px;
  margin-right: 42px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  & input.hide-input-control {
    height: 100%;
    width: 100%;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: $Gray4;
    border: none;
    outline: none;
  }
}

.search-modal-container {
  position: absolute;
  width: 245px;
  z-index: 60;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $Gray3;
  .search__header__searchbox {
    margin-bottom: 10px;
    .search-header-sub {
      margin-bottom: 13.56px;
      text-align: start;
      .search-header {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: $Gray2;
        margin-bottom: 2px;
      }
    }
    .header-search {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
      width: 100%;
      .btn-icon__flex svg {
        height: 11.37px;
        width: 11.37px;
      }
    }
  }
  .members-list-card {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 23.88px;
    max-height: 153px;
    overflow-y: auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    &::-webkit-scrollbar {
      display: none;
    }
    .members-list-body {
      padding: 11.5px;
      .each-member {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 16px;
        .member__img {
          height: 32px;
          width: 32px;
          margin-right: 13.88px;
        }
        .member__name_p {
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          color: $Gray1;
        }
      }
    }
  }
  .submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.view-edit__tab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20.35px;
  font-size: 10px;
  line-height: 15px;
  .text__svg {
    display: flex;
    align-items: center;
    margin-right: 13.75px;
    svg {
      width: 8px;
      height: 10px;
      margin-right: 6px;
    }
  }
  .btn_svg__flex {
    padding: 4.5px 12px;
    svg {
      height: 9px;
      width: 9px;
      margin-right: 9.5px;
    }
  }
}

.cursor-span {
  cursor: pointer;
}

.icon-name__flex {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: $Gray4;
  margin-bottom: 12.96px;
  svg {
    margin-right: 6px;
    width: 10px;
    height: 10px;
  }
}

.team-img-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .team__img {
    height: 32px;
    width: 32px;
    margin-right: 16.85px;
  }
  p {
    font-weight: 600;
    font-size: 12px;
    color: $Gray1;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
