@import 'config';
@import 'allboards';
@import 'header_footer';
@import 'reusable';
@import 'viewboardlists';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  // font-family: 'Poppins', sans-serif;
  background: #ffffff;
  letter-spacing: -0.035em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mobile-view-error {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h5 {
    font-family: poppins;
    font-size: 2rem;
    text-align: center;
  }
}
